qiskit==1.3.2
qiskit-aer==0.16.1
streamlit==1.42.0
streamlit==1.42.0
qiskit[visualization]
rustworkx>=0.15.0
symengine<0.14,>=0.11
sympy>=1.3
scipy>=1.5
python-dateutil>=2.8.0
numpy<3,>=1.17
dill>=0.3
stevedore>=3.0.0
Pillow>=4.2.1
typing-extensions
matplotlib>=3.3
seaborn>=0.9.0
pydot
six>=1.5
pandas>=1.2
pbr>=2.0.0
pyparsing>=3.0.9
pytz>=2020.1
tzdata>=2022.7
setuptools